<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h2>Name : Surya Narayanan Nadhamuni Suresh</h2>
    <h2>UTA ID : 1001877873</h2></br>

    <h2>People Directory</h2></br>

    <form action="/search" method="post">
        <legend>Search Fields</legend>
        <table>
            
            <tr>
                <td><label for ="name">Name </label></td>
                <td><input type="text" id="Name" name="Name"></td>
              </tr>

            <tr>
                <td><label for ="state">State </label></td>
                <td><input type="text" id="State" name="State"></td>
            </tr>

            <tr>
                <td><label for ="salary">Salary </label></td>
                <td><input type="text" id="Salary" name="Salary"></td>
            </tr>

            <tr>
                <td><label for ="grade">Grade </label></td>
                <td><input type="text" id="Grade" name="Grade"></td>
            </tr>

            <tr>
                <td><label for ="room">Room </label></td>
                <td><input type="text" id="Room" name="Room"></td>
            </tr>

            <tr>
                <td><label for ="telnum">Telnum </label></td>
                <td><input type="text" id="Telnum" name="Telnum"></td>
            </tr>

            <tr>
                <td><label for ="keywords">Keywords </label></td>
                <td><input type="text" id="Keywords" name="Keywords"></td>
            </tr>
        </table>
    </br>

    
        <input type="submit" value="SEARCH"> </br> </br>
    
</form>


    <a href="/add">
        <button>Add New User</button>
      </a> 


       </br></br></br>


        <!-- 
        <form action="/uploadPhoto" method="post" enctype="multipart/form-data">
            <input type="file" name="photos" multiple>
            <input type="submit">
        
        </form> 

    </br></br> -->


 <!-- <a href="/showPhotos">
            <button>SHOW PHOTOS</button>
          </a> 

        {% if pic %}
        {% for key,value in pic.items() %}

        <table border =1>
            <tr>
                <td>
                    <img style="height: 100px;"
 src="{{ "https://sxn7873.blob.core.windows.net/pics/" ~ key }}"
   alt="{{ key }}" title="{{ key }}">
                </td>
                <td>{{key}}</td>
                <td>{{value}} bytes</td>
            </tr>
            {% endfor %}

            {% endif %}
        </table>  -->
     

        {% if data %}


        <table border=1>

            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Salary</th>
                <th>Grade</th>
                <th>Room</th>
                <th>Telnum</th>
                <th>Picture</th>
                <th>Keywords</th>
                <th>Action</th>
                <th>Action</th>
            </tr>

            {% for value in data %}

            <tr>
                <td> {{ value[0] }}</td>
                <td> {{ value[1] }}</td>
                <td> {{ value[2] }}</td>
                <td> {{ value[3] }}</td>
                <td> {{ value[4] }}</td>
                <td> {{ value[5] }}</td>
                {% if value[6] %}
                <td>
                    <img style="height: 100px;"
 src="{{ "https://sxn7873.blob.core.windows.net/pics/" ~ value[6] }}"
   alt="{{ value[6] }}" title="{{ value[6] }}">
   <!-- <p>{{ value[6] }}</p> -->
            </td>
            {% else %}
            <td>No Picture available</td>
            {% endif %}
                <td> {{ value[7] }}</td>

                

                <td>
                    <form action="/delete" method="post">
                    <input type="checkbox" id= {{ value[0] }} name= "Name" value={{ value[0] }}>
                    <input type="submit" value="DELETE">
                </form>
                
                </td>

                <td>
                    <form action="/updatecheck" method="post">
                        <input type="checkbox" id= {{ value[0] }} name= "oldName" value={{ value[0] }}>
                        <input type="submit" value="UPDATE">
                    </form>
    
                </td>
                



            </tr>

            {% endfor %}

            </table>

            {% else %}

            {% with msg = get_flashed_messages() %}
            {% if msg %}
               {% for info in msg %}
                  {{ info }}
               {% endfor %}
            {% endif %}
         {% endwith %}

            {% endif %} 
        </br></br>


    <!-- <a href = "/">Go back to home page</a> -->
   

</body>
</html>